*{
    margin:0;
    padding:0;
    background-color: skyblue;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    margin: 30px 100px;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
    grid-template-areas:
            "header header"
            "aside main"
            "footer footer"
}
.header{
    /*width: 90vw;*/
    /*position: fixed;*/
    display: flex;
    flex-direction: row;
    /*justify-content: right;*/
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}
.title{
    font-family: 'Roboto', sans-serif;
    /*border: 1px solid red;*/
    /*padding-right: 700px;*/
    /*padding-left: 5px;*/
    color: white;
    /*background-color: red;*/
    font-size: 50px;
    letter-spacing:-2px;
    /*border-radius: 3%;*/
}
.menu li{
    display: inline;
    font-size: 20px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: red;
    transition: 0.5s;
}
.aside{
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.pic{
    background-image: url("../picture/produce pic.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 70%;
    width: 150px;
    height:150px;
}
.pic:hover{
    border-radius: 0%;
    transition: 0.5s;
}
.produce{
    font-size: 20px;
    margin-top: 50px;
}

.main{
    width: 100%;
    height: 100%;

}
.footer{
    grid-area: footer;
    text-align: center;
}
.contact{
    text-align: center;
    border-top: 2px solid gray;
    font-size: 30px;
}
.email{
    margin-top: 30px;
    text-align: center;
}
.insta a:hover{
    color: red;
    transition: 0.5s;
}
@media all and (max-width: 640px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.text-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg text {
    font-size: 6em;
    fill:transparent;
    stroke-dasharray: 326px;
    animation: stroke 1s linear;
    animation-fill-mode: forwards;
}
svg text:nth-child(1) {
    animation-delay: 0s;
}
svg text:nth-child(2) {
    animation-delay: 0.5s;
}
svg text:nth-child(3) {
    animation-delay: 1s;
}
svg text:nth-child(4) {
    animation-delay: 1.5s;
}
svg text:nth-child(5) {
    animation-delay: 2s;
}
svg text:nth-child(6) {
    animation-delay: 2.5s;
}
svg text:nth-child(7) {
    animation-delay: 3s;
}
svg text:nth-child(8) {
    animation-delay: 3.5s;
}
svg text:nth-child(9) {
    animation-delay: 4s;
}
svg text:nth-child(10) {
    animation-delay: 4.5s;
}
svg text:nth-child(11) {
    animation-delay: 5s;
}
svg text:nth-child(12) {
    animation-delay: 5.5s;
}
@keyframes stroke {
    0% {
        stroke:white;
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }
    70% {
        fill: transparent;
    }
    98% {
        stroke:white;
        stroke-width: 3px;
    }
    100% {
        fill: white;
        stroke-dashoffset: 0px;
    }
}