*{
    margin:0;
    padding:0;
    background-color: skyblue;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    margin: 30px 100px;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
    grid-template-areas:
            "header header"
            "aside main"
            "footer footer"
}
.header{
    /*width: 90vw;*/
    /*position: fixed;*/
    display: flex;
    flex-direction: row;
    /*justify-content: right;*/
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}
.title{
    font-family: 'Roboto', sans-serif;
    /*border: 1px solid red;*/
    /*padding-right: 700px;*/
    /*padding-left: 5px;*/
    color: white;
    /*background-color: red;*/
    font-size: 50px;
    letter-spacing:-2px;
    /*border-radius: 3%;*/
}
.menu li{
    display: inline;
    font-size: 20px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: red;
    transition: 0.5s;
}
.aside{
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.pic{
    background-image: url("../picture/produce pic.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 70%;
    width: 150px;
    height:150px;
}
.pic:hover{
    border-radius: 0%;
    transition: 0.5s;
}
.produce{
    font-size: 20px;
    margin-top: 50px;
}

.main{
    grid-area: main;
    display: flex;
    /*margin-left: 200px;*/
    justify-content: space-around;
    align-items: center;
    /*min-height: 100vh;*/
    /*perspective: 1000px;*/
    flex-direction: column;
    flex-wrap: wrap;
}
.cube-wrap{
    width: 100px;
    height: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /*transition: 6s;*/
}
.cube-wrap:hover{
    animation: ani 6s linear infinite;
}
.cube-wrap div{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.cube-wrap .top{
    transform: rotateX(90deg) translateZ(50px);
    background-color: red;
}
.cube-wrap .bottom{
    transform: rotateX(-90deg) translateZ(50px);
    background-color: orange;
}
.cube-wrap .right{
    transform: rotateY(-90deg) translateZ(-50px);
    background-color: black;
}
.cube-wrap .left{
    transform: rotateY(90deg) translateZ(-50px);
    background-color: white;
}
.cube-wrap .back{
    transform: translateZ(-50px);
    background-color: greenyellow;
}
.cube-wrap .front{
    text-align: center;
    transform: translateZ(50px);
    background-color: blue;
}
@keyframes ani {
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateY(1turn);
    }

}
.my-pic{
    background-image: url("../picture/Mypic.JPG");
    width: 170px;
    height: 220px;
    background-size: cover;
    margin-left: 100px;
    border-radius: 70%;
}

.con{
    margin-left: 100px;
}
.language{
    list-style: none;
    font-size: 20px;
}
.language li{
    margin-top: 10px;
}
.footer{
    grid-area: footer;
    text-align: center;
}
.contact{
    text-align: center;
    border-top: 2px solid gray;
    font-size: 30px;
}
.email{
    margin-top: 30px;
    text-align: center;
}
.insta a:hover{
    color: red;
    transition: 0.5s;
}
@media all and (max-width: 640px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .language li{
        margin-top: 50px;
    }
    .produce{
        margin-bottom: 50px;
    }
    .con{
        margin-left: 0px;
        text-align: center;
    }
}